<h2>小說清單</h2>
<ul>
<%@novels.each do |n|%>
  <li>小說名稱：<%=n.name%>
      <%= link_to "內容", novel_path(n) %>
      <%= link_to "修改內容", edit_novel_path(n) %>
      <%=link_to "刪除", novel_path(n), :method =>:delete%>
  </li>
<%end%>
</ul>
<%=link_to "新增小說", new_novel_path%>